// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.hanken-grotesk-<uniquifier> {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*---Main---*/
.btn-call a {
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid #fac832;
  color: #fac832;
}
.btn-call:hover a {
  color: #fff!important;
  background: #fac832!important;
  transition: 0.3s;
}

ul.menu-css {
  align-items: center;
}
.menu-sub ul.menu-css li.btn-call a {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px!important;
}
nav .menu-sub ul.menu-css li a {
margin-right: 20px;
text-aling: center!important;
}

.site-avatar {
width: 210px!important;
height: auto;

}

.masthead {
  padding: 10px 0!important;
  border-bottom: 0px solid #eee!important;
}
.wrapper-masthead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wrapper-masthead .container .masthead {
background: #fff;
}


/*----Home----*/
#banner-home {
  width: 100%!important;
  background: #ffc943;
}
.col-50 {
  width: 50%;
}

.column.banner-home {
  vertical-align: middle;
}
