------
------

@media only screen and (max-width: 690px) {
  .container {
    max-width: 690px;
    width: 100%;
  }
  .row, .colum {
    grid-gap: 10px;
  }



/*----Menu Mobile----*/
.menu-css {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.menu-css #myLinks {
  display: none;
}

.menu-css a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.menu-css a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-css a:hover {
  background-color: #ddd;
  color: black;
}
.menu-css.active {
  background-color: #04AA6D;
  color: white;
}

.hidden-mobile {
  display: none!important;
}


}
