

.tab {
  overflow: hidden;
  transition: 0.15s ease-in;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #000;
  font-size: 1.2em;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600;
  padding: 18px 30px;
  margin: 0px 5px;
  border-radius: 7px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #b7b6ae;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffc943;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid #ccc;
  border-top: none;
  background: #ddd;
  border-radius: 15px;

}
.tabcontent.active {
 display: block;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
/*---content---*/
/* .exri_item {
    align-items: center;
    border-top: 1px solid var(--cusborder);
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 24px;
    transition: all .4s;
} */

.exri_item {
  align-items: center;
  border-top: 1px solid  #b7b6ae;
  display: flex;
  justify-content: space-between;
  transition: all .4s
}

.exri_item:last-child {
    border-bottom: 1px solid  #b7b6ae;
}

.exri_item:hover {
    border-color: var(--hover);
}

@media (max-width: 500px) {
.exri_item .expri_cont h4 {
  font-size:18px
    }
}


.align-items-lg-start {
  align-items: flex-start !important;
}
.align-items-center {
  align-items: center !important;
}







/*-----*/
.about__onecontent .about__contactwrap {
    display: flex;
    flex-wrap: wrap;
}
.about__onecontent .about__contactwrap .abox {
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    padding: 35px;
    transition: all .4s;
}

.box-info-css {
  background-color: #ccc;
  border-radius: 15px;
  border: 1px solid #ccc;
}
.box-info-css:hover {
  border: 1px solid #000;
  transition: 0.5s;
  background: #cccccc94;
}


.myskill__item {
  align-items: center;
  display: flex;
  gap: 24px;
}


 /*-----Modal----*/
 /* The Modal (background) */
 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: #000000b5; /* Fallback color */
   transition: 0.3s;
 }

 /* Modal Content */
 .modal-content {
   position: relative;
   background-color: transparent;
   margin: auto;
   padding: 0;
   width: 100%;
   max-width: 1320px;
 }




.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  padding: 10px 20px;
  margin-top: 25%;
  color: white;
  font-weight: 100;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.demo {
  opacity: 0.9;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.1); */
  border-radius: 0px;
}
.mySlides img {
  margin-bottom: -0px;
  border-radius: 15px;
}

.caption-container {
  text-align: center;
  /* background-color: black; */
  padding: 2px 16px;
  color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 60px;
  right: 300px;
  font-size: 70px;
  font-weight: 100;
  z-index: 9;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}





/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}




.ds-900 {
  font-size: 45px;
  font-weight: 900;
}

.ds-500 {
  font-weight: 500;
}

ul.social-css {
  padding-left: 0px!important;
}

ul.social-css li {
  padding-right: 10px!important;
}
ul.social-css li a i {
  font-size:  25px!important;
}
ul.social-css li a {
  color: #7e7e7e!important;
}
ul.social-css li:hover a {
  color: #c4161c!important;
}
.social-css-edit a {
  color: #7e7e7e!important;
}
.social-css-edit a:hover {
  color: #c4161c!important;
  transition: 0.3s;
}

.justify-content-between {
  justify-content: space-between!important;
}
.common__icon {
  align-items: center;
  background-color: #c5c5c5;
  border-radius: 6px;
  display: flex;
  height: 60px;
  justify-content: center;
  min-width: 60px;
  transition: all .4s;
}

.d-flex {
  display: flex!important;
}
.content a.imgc i {
font-size: 30px;
color: #fff;
rotate: 45deg;
}
.modal-image-css:hover .content a.common__icon {
background-color: #ffc943!important;
transition: 0.3s;
}

h3.title-h3-css {
  font-size: 28px;
  font-weight: 800;
}

span.title-span-css {
  color: #ffc943!important;
  font-weight: 400;
  font-size: 20px;
}
h2.section-title-css-h2 {
  font-size: 40px;
  font-weight: 800;
}
span.text-sub-title {
  font-size: 35px;
  color: #ffc943!important;
  font-weight: 300;
  font-family:Caveat,cursive!important
}

.about__contbox__item1 .icon {
    align-items: center;
    background: #ffc943;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    min-height: 60px;
    min-width: 60px;
    width: 60px; height: 60px;
    line-height: 1.5;
    font-size: 25px;
}
.about__contbox__item1 {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 20px;
    transition: all .4s;
}
.about__contbox__item1:hover {
  border-bottom: 1px solid #ffc943;
}
.about__contbox__item1 .box a {
color: #7e7e7e;
font-weight: 400;
}
.about__contbox__item1 .box a:hover {
color: #c4161c;
}

.about__contbox__item1 .box span {
  font-size: 21px;
  font-weight: 800;
}


// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.hanken-grotesk-<uniquifier> {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
