// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.hanken-grotesk-<uniquifier> {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*---Main---*/
.btn-call a {
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid #fac832;
  color: #fac832;
}
.btn-call:hover a {
  color: #fff!important;
  background: #fac832!important;
  transition: 0.3s;
}

ul.menu-css {
  align-items: center;
}
.menu-sub ul.menu-css li.btn-call a {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px!important;
}
nav .menu-sub ul.menu-css li a {
margin-right: 20px;
text-aling: center!important;
}

.site-avatar {
width: 210px!important;
height: auto;

}

.masthead {
  padding: 10px 0!important;
  border-bottom: 0px solid #eee!important;
}
.wrapper-masthead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
}

.wrapper-masthead .container .masthead {
background: #fff;
}

.wrapper-masthead {
  margin-bottom: 0px!important;}
/*----Home----*/
div#banner-home {
  width: 100%!important;
  max-width: 1920px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
#banner-home {
  background: #ffc943;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.container .row {
  width: 100%;
}

.col-10 {
  width: 10%!important;
}
.col-20 {
  width: 20%!important;
}
.col-30 {
  width: 30%!important;
}
.col-40 {
  width: 40%!important;
}
.col-50 {
  width: 50%!important;
}
.col-60 {
  width: 60%!important;
}
.col-70 {
  width: 70%!important;
}
.col-80 {
  width: 80%!important;
}
.col-90 {
  width: 90%!important;
}.col-100 {
  width: 100%!important;
}

.column.banner-home {
  vertical-align: middle;
  width: 100%;
  display: block;
}

.column.banner-home .container .row {
  display: flex;
  align-items: center;
  padding: 70px 0px;
}

.text-banner {
  font-size: 1em;
  font-weight: normal;
  text-align: justify;
    line-height: 1.4;
}
.btn-banner a {
padding: 8px 15px;
border: 1px solid #000;
border-radius: 50px;
color: #000;
}
.btn-banner {
  margin-top: 2em;
}

div {
  padding-left: 5px;
  padding-right: 5px;
}
